{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <section>
        <h1>Usuários cadastrados</h1>
        {% if User.query.all() %}
        <h3>Quantidade: {{ User.query.count() }}</h3>
        <table class="table">
            <thead>
                <tr>
                    {% for column in User.query.all()[0].__table__.columns %}
                    <th>{{ column.name }}</th>
                    {% endfor %}
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in User.query.all() %}
                    <tr>
                        {% for column in user.__table__.columns %}
                        <td>{{ user[column.name] }}</td>
                        {% endfor %}
                        <td>{{ Role.query.all()[user.user_role_id - 1].name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
    <hr>
     <section>
        <h1>Relação de funções cadastradas</h1>
        {% if User.query.all() %}
        <table class="table">
            <thead>
                <tr>
                    <th>Cargos</th>
                    <th>Usuários</th>
                </tr>
            </thead>
            <tbody>
                {% for role in Role.query.all() %}
                <tr>
                    <td>{{ role.name }}</td>
                    <td>
                        <ol>
                            {% for user in User.query.filter_by(user_role_id=role.id) %}
                            <li>{{ user.user_name }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
    <hr>
  <h1>Olá, {% if name %} {{ name }} {% else %} Estranho {% endif %}!</h1>
  {% if not known %}
  <h3>-- Pleased to meet you! --</h3>
  {% else %}
  <h3>-- Happy to see you again! --</h3>
  {% endif %}
  <h2>A sua instuição de ensino é {{ inst }}</h2>
  <h2>Está cursando a disciplina de {{ disc }}</h2>
  <h2>Seu cargo é {{ role }}</h2>
  <section>
    <h3>O IP do computador remoto é: {{ ip }}</h3>
    <h3>O host da aplicação é: {{ host }}</h3>
  </section>
</div>
{{ wtf.quick_form(form) }}
<br>
<p>The local date and time is: {{ moment(current_time).format('LLLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}