{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">
  <h1>Olá, {% if name %} {{ name + ' ' + last_name }} {% else %} Estranho {% endif %}!</h1>
  <h2>A sua instuição de ensino é {{ inst }}</h2>
  <h2>Está cursando a disciplina de {{ disc }}</h2>
  <section>
    <h3>O IP do computador remoto é: {{ ip }}</h3>
    <h3>O host da aplicação é: {{ host }}</h3>
  </section>
</div>
{{ wtf.quick_form(form) }}
<br>
<p>The local date and time is: {{ moment(current_time).format('LLLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}